
.csy1014
{
    background-color: lightblue;
    display: inline;
    width: 50%;
    float: left;
}
.csy1017
{
    display: inline;
    width: 50%;
    float: left;
    background-color: yellow;
}

.csy1018
{
    display: inline;
    width: 50%;
    float: left;
    background-color: yellow;
}
.csy1019 
{
    display: inline;
    width: 50%;
    float: left;
    background-color: lightblue;
}


